tr {
    background-color: #fffefe;
}
caption, table, th, td {
    border: 1px solid rgb(255, 131, 131);
}

th {
    color: rgb(252, 99, 99);

}

caption {
    font-size: large;
    font-family: cursive;
    font-style: oblique;
    color: rgb(252, 99, 99);
    height: 20px;
    padding: 10px;
}
td {
    text-align: center;
}
table {
    width: 50%;
}

th, td {
    border-bottom: 1px solid rgb(255, 255, 255);
}

tr:hover {background-color: #ffa8a8;}