tr {
    background-color: #fffefe;
}
table, th, td {
    border: 1px solid rgb(252, 99, 99);
}

td {
    text-align: center;
}
table {
    width: 50%;
}


th, td {
    border-bottom: 1px solid rgb(255, 143, 143);
}

tr:hover {background-color: #ffdada;}