<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/form.css"/>
<meta charset="uft-8">
<title>English Database</title>
</head>
    <body>
    <h2>English Database</h2>
    <form action="http://localhost:5000/" method="POST">
        <div class="form__fieldset">
            <label for ="english_word" class="form__label">Please enter the word you would like to save:</label>
            <input type="word" name="english_word" id = "english_word" class = "form__input" placeholder="English word">
        </div>
        
        <div class ="form__fieldset">
        <input class="form__submit form__input" type="submit" value="Submit">
    </div>
    </form>
    </body>
</html>

