<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"  />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"   />
        <title><strong>English Database</strong></title>
        <link rel="stylesheet" href="/static/table.css" />
    </head>
    <body>
        <table class="content_table">
            <caption>English Database</caption>
            <tr>
                <th>English Word</th>
                <th>Translation</th>
            </tr>
            {% for result in data %}
                <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>